<h1> About lePM </h1>
<p> lePM <em>(le Project Management)</em> is a tool that will help you organize your projects and teams to achieve apex productivity</p>
<br>
<h2> The Team </h2>
<img src="https://pbs.twimg.com/profile_images/378800000799475043/1d250856b575d2aab96fca694fc50c1c_400x400.jpeg" style="width:200px;border-radius:50px"
